@import "compass/reset";
@import "compass/utilities/general/clearfix";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";
@import "blueprint/grid";

$red: rgba(141, 49, 38, 1);
$tan: #f2ede2;
$background: #efece5;
$blue: #0c4165;
$redish: #982322;

// Grid
$blueprint-grid-columns: 12;
$blueprint-grid-width: 60px;
$blueprint-grid-margin: 20px;

@mixin serif {
  font-family: 'OFL Sorts Mill Goudy TT', 'Baskerville', 'Palatino', 'Georgia', 'Times', serif;
}

@mixin sans-serif {
  font-family: "Droid Sans", "lucida sans unicode", "Lucida Grande", "Lucida Sans", helvetica, 'bitstream vera sans', sans-serif;
}

@mixin link {
  color: #70494D; text-decoration: underline; //color: $blue; background: transparentize($blue, 0.9);
  &:hover {color: $red;}
}

@mixin active-nav {
  border-top: 2px solid rgba(240, 240, 240, 0.3); color: #fff;
}

body {
  @include serif; font-size: 16px; margin: 0; margin-bottom: 10px; background: #efece5;
}

#wrapper {
  @include container; margin: 60px auto 30px; overflow: visible;
  header {
    @include column(12); height: 3em;
    h1 {font-size: 2em; @include prepend(4); padding-top: 10px;}
  }
  
  #left {
    @include column(2);
    nav {
      font-size: 20px; position: fixed;
      a {position: relative; display: block; font-size: 18px; padding: 10px; color: #555; text-decoration: none; text-shadow: #fafafa 0 -1px 0;}
      
    }
  }
  
  #main {
    @include column(10); border-top: 1px solid $red; border-bottom: 3px solid $red; background-color: #f9f9f9; text-shadow: 0 1px 0 #fff; z-index: 1; min-height: 250px;
    @include box-shadow(rgb(51, 51, 51), -1px, -1px, 8px, -5px); @include clearfix; overflow: visible;
    #content {
      padding: 2em;
    }
    h1 {
      font-size: 28px; border-bottom: 3px double transparentize($red, 0.7); font-weight: bold; padding-bottom: 3px; margin-bottom: 6px;
      a {
        text-decoration: none; border: none; color: $red;
        &:hover {color: orange; background: none; border: none;}
      }      
    }
    h2 {font-weight: normal;}
    p {padding: 0; margin: 0.5em 0;}
    a {@include link;}
    ul {
      list-style: inherit;
      li {margin: 0 1em;}
    }
    .post {
      margin-bottom: 2em;
      .post-content {
         position: relative; font-size: 18px; line-height: 1.4em;}
        .icon {
          position: absolute; left: -58px; top: 2px; display: inline-block; padding: 5px 6px 0; background-color: transparentize($blue, 0.9);//background-color: rgba(220, 220, 220, 0.7);
          img {
            opacity: 1;
            &:hover {opacity: 1;};
          }
        }
        &:hover {
          img {opacity: 1;}
        }
      }
      .meta {color: $blue; font-size: 14px; padding: 5px 0; display: inline-block; font-family: Palatino;}
  }

  #right {
    @include column(2, true); margin-top: 2em;
    a {
      @include link;
    }
    aside {
      margin-bottom: 1em;
      h1 {font-size: 16px; color: orange; margin-bottom: 5px;}
      p {font-size: 14px; line-height: 16px; color: #777; margin-bottom: 12px;}
    }
    #around {
      a {
        background-color: #ddd; @include border-radius(5px); line-height: 23px; display: inline-block; width: 25px; height: 25px; text-align: center;
        &:hover {background-color: #aaa;};
        * {vertical-align: middle;}
      }
    }
  }
  
  footer {
    @include column(12);
    p {color: #777; font-size: 14px; padding-top: 0.5em;}
  }
}

strong {font-weight: bold;}
code {background-color: #efefef; border: 1px solid #ddd; padding: 1px 2px; color: #333; font-family: consolas,'lucida console','bitstream vera sans mono','courier new',monospace; font-size: 14px}
pre {margin: 0 40px;}
pre code {width: 100%; display: block;}

.image {text-align: center; font-size: 0.8em; font-style: italic;}
.image img {border: 1px solid #ccc;}

#top {
  color: #fff; border-top: 2px solid $blue; border-bottom: 5px solid $red; z-index: 50; width: 100%; position: fixed; top: 0; @include box-shadow(rgb(51, 51, 51), 0, 1px, 5px, 0); background: rgba(75, 10, 9, 1);
  #top-container {
    @include container; overflow: visible; 
    #banner {
      @include column(3); font-size: 28px; padding: 5px 0; font-weight: 700;
      a {color: #fff; text-decoration: none;}
    }
    nav {
      @include column(7, true); text-align: right; margin-top: -2px;
      a {
        display: inline-block; line-height: 28px; font-size: 20px; text-decoration: none; color: rgba(255, 255, 255, 0.9); margin: 0 8px; text-shadow: $blue 0 -1px 0; padding-top: 5px;
        &:hover {@include active-nav;}
      }
      &.home a.home {@include active-nav}
      &.archives a.archives {@include active-nav}
    }
  }
}

#archives {
  line-height: 1.4em; font-size: 16px;
}