<!doctype html>
<html>
  <head>
    <title>SixFeetOver v5.0</title>
    <link href='http://fonts.googleapis.com/css?family=OFL+Sorts+Mill+Goudy+TT:regular,italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/screen.css" type="text/css">
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script> 
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-22752845-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  
  <body>
    <div id='top'>
      <div id='top-container'>
        <div id='banner'>
          <a href='/'>SixFeetOver</a>
        </div>
        <nav class="{{page.link}}">
          <a href='/' class='home'>Home</a>
          &#9642;
          <a href='/archives.html' class='archives'>Archives</a>
        </nav>
      </div>
    </div>
    <div id='wrapper'>
      <div id='main'>
        <div id='content'>
          {{content}}
        </div>
      </div>
      
      <div id='right'>
        <aside>
          <h1>ABOUT</h1>
          <p>Hi. My name is Jeff Fraser.</p>
          <p>I write code, take photos, study <a href='http://www.edsdojo.com' title='Uechi-ryu'>martial arts</a>, and hang out on the interwebs. Here, I write about whatever is on my mind.</p>
        </aside>
        <aside id='around'>
          <h1>AROUND</h1>
          <a href='http://www.twitter.com/6feetover'><img src='/img/twitter.png' height='20' width='20'></a>
          <a href='http://www.facebook.com/jafraser'><img src='/img/facebook.png' height='20' width='20'></a>
          <a href='http://www.flickr.com/photos/jafraser/'><img src='/img/flickr.png' height='20' width='20'></a>
          <a href='http://www.github.com/sixfeetover'><img src='/img/github.png' height='20' width='20'></a>
          <a href='http://user.gdgt.com/sixfeetover/'><img src='/img/gdgt.png' height='20' width='20'></a>
        </aside>
      </div>
      
      <footer>
        <p>All content &copy; Jeff Fraser.</p>
      </footer>
    </div>
  </body>
</html>